@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #2b323c;
}

*::selection {
    background-color: #cc00ff;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #2b323c;
    color: #ffffff;
}

.navbar h1 {
    padding-left: 120px;
    font-size: 43px;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
}

.navbar h1:hover::before {
    width: 200px;

}

.list {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
}

.list li {
    padding: 20px 25px;
    cursor: pointer;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    color: #ffffff;
    font-family: "Ubuntu", sans-serif;


}
.list li:hover{
    background-image: linear-gradient(to right, red, orange);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    letter-spacing: 2px;
}
button{
    font-family: "Ubuntu", sans-serif;
    color: #ffffff;
    margin-left: 1220px;
    position: relative;
    top: -70px;
    width: 200px;
    border: none;
    border: 2px solid gray;
    height: 50px;
    letter-spacing: 2px;
    font-size: 17px;
    color: rgb(255, 0, 0);
    transition: all 1s ;
}
button:hover{
    background: linear-gradient(to bottom right , orange , red);
    color: #ffffff;
    cursor: pointer;
    border: 2px solid #ffffffff;
}
p{
    margin-left: 120px;
    margin-top: 170px;
    font-size: 30px;
}
.sp1{
    color: #ffffffff;
    font-family: 'Ubuntu ' , sans-serif;
}
.sp2{
    margin-left: 120px;
    font-size: 100px;
    font-family: 'monoscape' , sans-serif;
    background-image: linear-gradient(to right, red, orange);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}
.sp3{
    margin-left: 120px;
    font-size: 100px;
    color: red;
    font-family: 'monoscape' , sans-serif;
    background-image: linear-gradient(to right, red, orange);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}
.img-1{
    width: 30%;
    position: relative;
    top: -550px;
    margin-left: 900px;
}
.di{
    color: #ffffffff;
    margin-top: -520px;
}
.btn-2{
    margin-top: 150px;
    margin-left: 120px;
}
.title{
    color: #ffffffff;
    margin-top: 100px;
    font-size: 50px;
    letter-spacing: 1px;
}
.para{
    margin-left: 545px;
    margin-top: 1px;
    color: rgb(189, 189, 189);
    font-size: 20px;
    letter-spacing: 1px;
}
.hr{
    width: 100px;
    height: 2px;
    margin-top: -180px;
    margin-left: 100px;
    background:linear-gradient(to right , red , orange);
}
.img-2{
    width: 70px;
    height: 70px;
    position: relative;
    top: -135px;
    left: 30px;
    cursor: pointer;
}


.loader{
    position: relative;
    top: 250px;
    left: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2b323c;
    transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 60px;
    height: 60px;
    border: 10px solid #ffffff;
    border-top-color:#2b323c;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}
@keyframes loading {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}